@use 'sass:color';

$palette: (
	background: #1d2635,
	prime: #d12f1d,
	accent: #f05e24,
	info: #2873ff,
	success: #22bb46,
	caution: #f0b504,
    critical: #ff0000,
);

$grays: (
	black: #000,
	gray1: #1a1a1a,
	gray2: #333333,
	gray3: #4d4d4d,
	gray4: #666666,
	gray5: #808080,
	gray6: #999999,
	gray7: #b3b3b3,
	gray8: #cccccc,
	white: #fff,
);

$cardinals: (
    north: '0deg',
    east: '90deg',
    south: '180deg',
    west: '270deg',
    northwest: '315deg',
    northeast: '45deg',
    southwest: '225deg',
    southeast: '135deg',
);

:root {
	// Generate shades and tints for main colors
	@each $name, $color in $palette {
		@for $i from 1 through 9 {
			$shade-percentage: $i * 10%;
			$shade-color: mix($color, #000, $shade-percentage);
			--#{"" + $name}-darker-#{$i}: #{$shade-color};
		}
		@for $i from 1 through 9 {
			$tint-percentage: $i * 10%;
			$tint-color: mix($color, #fff, $tint-percentage);
			--#{"" + $name}-lighter-#{$i}: #{$tint-color};
		}
	}

	// Generate CSS variables for colors
	@each $name, $color in $palette {
		--#{"" + $name}: #{$color};
		--#{"" + $name}-rgb: #{red($color)}, #{green($color)}, #{blue($color)};
	}

	@each $gray, $gray-color in $grays {
		--#{"" + $gray}: #{$gray-color};
		--#{"" + $gray}-rgb: #{red($gray-color)}, #{green($gray-color)}, #{blue($gray-color)};
	}



    // Generate gradients based on palette colors
    @each $name, $color in $palette {
        @each $dir-name, $dir-angle in $cardinals {
            --#{"" + $name}-gradient-#{$dir-name}-darker: linear-gradient(#{$dir-angle}, #{color.adjust($color, $lightness: -10%)} 0%, #{$color} 100%);
            --#{"" + $name}-gradient-#{$dir-name}-lighter: linear-gradient(#{$dir-angle}, #{color.adjust($color, $lightness: 10%)} 0%, #{$color} 100%);
        }
    }
}
