@use '_variables' as *;
@use '_colors';

#controllerBar {
    --controller-padding: 8px;

	// flex: 0 0 calc(32px + var(--floating-tools-spacing));

	padding-left: calc(var(--floating-tools-spacing) / 2);
	padding-right: calc(var(--floating-tools-spacing) / 2);
    padding-top: var(--controller-padding);
    padding-bottom: calc(var(--floating-tools-spacing) / 2);
	inset: auto var(--floating-tools-spacing) var(--floating-tools-spacing);
	border-radius: 0 0 8px 8px;

	background-color: var(--dark-blue);

	display: grid;
    grid: 1fr / 1fr 1fr;
	gap: 0 8px;

	z-index: 999;

	transition:
		opacity 1s linear 1s,
		inset 0.5s ease-in-out 0s,
		padding 0.5s ease-in-out 0s,
		0.5s ease-in-out 0s,
		border-radius 0.5s ease-in-out 0s;

	&.videos {
		grid: 1fr 1fr / 1fr auto 1fr;
	}

	&.disabled {
		.control-slider-container,
		.control-radio-group,
		button,
		label,
		input {
			opacity: 0.5;
			pointer-events: none;

			&.ignore-disabled {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&.floating {
		background-color: rgba($color: var(--darker-blue-rgb), $alpha: 0.75);
		border-radius: var(--floating-tools-spacing);

		opacity: 0;

		box-shadow:
			0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
			0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;

		backdrop-filter: blur(var(--floating-tools-spacing));

		animation: position-delay-rel-to-abs;
		animation-duration: 0s;
		animation-delay: 0s;
		animation-fill-mode: both;

		#mainContainer:hover > &,
		#mainContainer:focus-within > & {
			opacity: 1;
			transition:
				opacity 0.3s linear 0s,
				inset 0.5s ease-in-out 0s,
				padding 0.5s ease-in-out 0s,
				0.5s ease-in-out 0s,
				border-radius 0.5s ease-in-out 0s;
		}
	}

	&.docked {
		z-index: 0;
		animation: position-delay-abs-to-rel;
		animation-duration: 0s;
		animation-delay: 0.5s;
		animation-fill-mode: both;
	}

	#videoProgressSlider {
		grid-column: 1 / -1;
	}

	.control-group {
		display: flex;
		align-items: center;
		gap: 4px;

		&:nth-child(2) {
			flex: 0 1 auto;
			justify-content: flex-start;
		}

		&:nth-child(3) {
			min-width: fit-content;
			justify-content: center;
		}

		&:nth-child(4) {
			flex: 1 0 auto;
			justify-content: space-between;
		}

        &:last-child {
            justify-content: flex-end;
        }

		.control-subgroup {
			display: flex;
			flex: 0 1 auto;
			align-items: center;
			gap: 4px;

			--btnSize: 20px;
		}

		label:has(input[type='checkbox']),
		label:has(input[type='radio']) {
			--font-size: 12px;

			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			user-select: none;

			font-size: var(--font-size);

			height: var(--btnSize);
			padding: var(--spacing);
		}

		.control-checkbox-container,
		.control-radio-group {
			display: flex;
			gap: var(--spacing);
			padding: var(--spacing);
			justify-content: center;
			background-color: var(--dark-blue);
			border-radius: var(--radius);

			box-shadow: $bevel-shadow-sink-in;
		}

		.control-checkbox-container {
			label:has(input[type='checkbox']) {
				border-radius: calc(var(--radius) - var(--spacing));

				&:has(input[type='checkbox']:checked) {
					box-shadow: $bevel-shadow-pop-out;
					background: var(--pink);
				}

				> .lucide {
					aspect-ratio: 1;
					width: calc(var(--btnSize) - 2 * var(--spacing));
					height: calc(var(--btnSize) - 2 * var(--spacing));
				}
			}
		}

		.control-radio-group {
			--radius: 16px;
			align-items: center;

			&.auto-fold {
				--width: var(--btnSize);
				--radio-offset: 0;

				width: calc(var(--width) + 2 * var(--spacing));
				max-width: calc(var(--btnSize) + 2 * var(--spacing));
				overflow: hidden;

				transition:
					width 0.2s ease-in-out,
					max-width 0.2s ease-in-out;

				@for $i from 2 through 8 {
					&:has(label:nth-child(#{$i})) {
						// change hover width to the width of the button group plus the spacing between buttons and the spacing on the sides of the container ($i + 1)
						--hover-width: calc(#{$i} * var(--btnSize) + ((#{$i + 1}) * var(--spacing)));

						@for $j from 1 through $i {
							&:has(label:nth-child(#{$j}) > input[type='radio']:checked) {
								// calculate the left offset of the checked radio button to position the checked button in the center of the container when it is folded
								$positionCalc: #{$i - 2 * $j + 1} / 2;
								$leftOffset: calc($positionCalc * var(--btnSize) + ($positionCalc) * var(--spacing));

								--radio-offset: #{$leftOffset};
							}
						}
					}
				}

				&:hover {
					max-width: var(--hover-width);
					width: var(--hover-width);

					--radio-offset: 0 !important;
				}

				> label {
					position: relative;
					left: var(--radio-offset);

					transition: left 0.2s ease-in-out;
				}
			}

			label:has(input[type='radio']) {
				aspect-ratio: 1;
				border-radius: 50%;

				min-width: var(--btnSize);

				&:has(input[type='radio']:checked) {
					box-shadow: $bevel-shadow-pop-out;
					background: var(--pink);
				}

				> .lucide {
					aspect-ratio: 1;
					width: calc(var(--btnSize) - 2 * var(--spacing));
					height: calc(var(--btnSize) - 2 * var(--spacing));
				}
			}
		}
	}
}
