@use '_colors';
@use '_variables' as *;
@use '_mixins' as *;

#controllerBar {
	--controller-padding: 8px;

    position: absolute;

	padding-left: calc(var(--floating-tools-spacing) / 2);
	padding-right: calc(var(--floating-tools-spacing) / 2);
	padding-top: var(--controller-padding);
	padding-bottom: calc(var(--floating-tools-spacing) / 2);
	inset: auto var(--floating-tools-spacing) var(--floating-tools-spacing);
	border-radius: 0 0 8px 8px;

	background-color: var(--background);

	display: grid;
	grid: 1fr / 1fr 1fr;
	gap: 0 8px;

	z-index: 999;

	transition:
		opacity 1s linear,
		inset var(--default-timing) ease-in-out,
		padding var(--default-timing) ease-in-out,
		var(--default-timing) ease-in-out,
		border-radius var(--default-timing) ease-in-out;

	&.videos {
		grid: 1fr 1fr / 1fr auto 1fr;
	}

	.control-group {
		&:nth-child(2) {
			flex: 0 1 auto;
			justify-content: flex-start;
		}

		&:nth-child(3) {
			min-width: fit-content;
			justify-content: center;
		}

		&:nth-child(4) {
			flex: 1 0 auto;
			justify-content: space-between;
		}

		&:last-child {
			justify-content: flex-end;
		}
		&.disabled {
			.control-slider-container,
			.control-radio-group,
			button,
			label,
			input {
				opacity: 0.5;
				pointer-events: none;

				&.ignore-disabled {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}

	&.floating {
        @include floating-tools-style;

		opacity: 0;

		#mainContainer:hover > &,
		#mainContainer:focus-within > & {
			opacity: 1;
			transition:
				opacity var(--default-timing) linear,
				inset var(--default-timing) ease-in-out,
				padding var(--default-timing) ease-in-out,
				var(--default-timing) ease-in-out,
				border-radius var(--default-timing) ease-in-out;
		}
	}

	&.docked {
        background: transparent;
		z-index: 0;
		animation: position-delay-abs-to-rel;
		animation-duration: 0s;
		animation-delay: 0.5s;
		animation-fill-mode: both;
	}

	#videoProgressSlider {
		grid-column: 1 / -1;
	}

	#transitionSpeedSlider,
    #clipperSizeSlider,
    #overlayOpacitySlider {
		max-width: 200px;

        --min-width: 50px;

        .unit-input-container {
            justify-content: flex-end;
            min-width: var(--min-width);
        }
	}

	#transitionSpeedSlider {
		--min-width: 84px;
	}

    #clipperSizeSlider {
		--min-width: 62px;
	}

    #overlayOpacitySlider {
            --min-width: 50px;
	}
}
