@use 'sass:color';
@use '_variables' as *;
@use '_colors';

.media-info {
	--spacing: 4px;
	position: absolute;
	inset: 1rem auto auto 1rem;

	display: flex;
	gap: var(--spacing);
	align-items: center;
	padding: var(--spacing);

	color: var(--white);
	font-size: 1rem;
	font-weight: 500;
	background-color: var(--dark-blue);
	border-radius: calc(var(--radius) + var(--spacing));

	box-shadow:
		0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
		0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;

	backdrop-filter: blur(var(--controller-spacing));

	height: auto;
	max-width: calc(50% - 2rem);

    transition: opacity 0.3s;

	z-index: 4;

	button {
		flex: 1 0 auto;
	}

    .control-slider-container {
        min-width: 160px;
        .unit-input-container {
            min-width: 50px;
            justify-content: flex-end;
        }
    }

	&.right-media-info {
		inset: auto 1rem calc(1rem + var(--floating-tools-spacing) * 6) auto;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	.media-label {
		cursor: pointer;
		transition:
			color 0.15s ease-in-out,
			filter 0.15s ease-in-out;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&.clickable:hover {
			color: var(--pink);
			filter: drop-shadow(0 0 0.25rem var(--pink));
		}
	}

	.media-closer {
		display: flex;
		height: auto;

		~ .media-closer {
			inset: 1rem 1rem auto auto;
		}
	}

    #mainContainer.floating-tools & {
        background-color: rgba($color: var(--darker-blue-rgb), $alpha: 0.75);
        opacity: 0;
    }

    #mainContainer:hover &,
    #mainContainer:focus-within & {
        opacity: 1;
        transition:
            opacity var(--default-timing) linear 0s,
            inset var(--default-timing) ease-in-out 0s,
            padding var(--default-timing) ease-in-out 0s,
            var(--default-timing) ease-in-out 0s,
            border-radius var(--default-timing) ease-in-out 0s;
    }
}