@use '_variables' as *;
@use '_mixins' as *;

$modal-handle-size: 10px;

#modalContainer {
	position: absolute;
	inset: 0;
	z-index: 9999;
	display: block;
	opacity: 0;
	pointer-events: none;

    transition: opacity var(--default-timing);

	&.show-modal {
        backdrop-filter: blur(8px);
		opacity: 1;
		pointer-events: auto;
	}

	.modal-backdrop {
		position: absolute;
		inset: 0;
		background-color: rgba($color: var(--black-rgb), $alpha: 0.55);
		backdrop-filter: blur(8px);
	}

	#modalWindow {
		position: absolute;
		z-index: 101;
		display: flex;
		flex-direction: column;
		overflow: hidden;

        @include floating-tools-style;

		user-select: none;

		.modal-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: calc(var(--spacing) * 2);
			border-bottom: 1px solid rgba($color: var(--white-rgb), $alpha: 0.08);
		}

		.modal-titlebar {
			flex: 1;
			display: flex;
			align-items: center;
			min-width: 0;
			cursor: move;
			padding-right: calc(var(--spacing) * 2);
		}

		.modal-title {
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.modal-body {
			padding: var(--root-padding);
			flex: 1 1 auto;
			overflow: auto;
			user-select: text;
			display: flex;
			flex-direction: column;
			gap: var(--spacing);

			scroll-behavior: auto;
		}

		.modal-resize-handle {
			position: absolute;
			z-index: 102;
		}

		.modal-resize-handle.n {
			top: -$modal-handle-size / 2;
			left: $modal-handle-size;
			right: $modal-handle-size;
			height: $modal-handle-size;
			cursor: ns-resize;
		}
		.modal-resize-handle.s {
			bottom: -$modal-handle-size / 2;
			left: $modal-handle-size;
			right: $modal-handle-size;
			height: $modal-handle-size;
			cursor: ns-resize;
		}
		.modal-resize-handle.e {
			top: $modal-handle-size;
			bottom: $modal-handle-size;
			right: -$modal-handle-size / 2;
			width: $modal-handle-size;
			cursor: ew-resize;
		}
		.modal-resize-handle.w {
			top: $modal-handle-size;
			bottom: $modal-handle-size;
			left: -$modal-handle-size / 2;
			width: $modal-handle-size;
			cursor: ew-resize;
		}

		.modal-resize-handle.ne {
			top: -$modal-handle-size / 2;
			right: -$modal-handle-size / 2;
			width: $modal-handle-size * 1.25;
			height: $modal-handle-size * 1.25;
			cursor: nesw-resize;
		}
		.modal-resize-handle.nw {
			top: -$modal-handle-size / 2;
			left: -$modal-handle-size / 2;
			width: $modal-handle-size * 1.25;
			height: $modal-handle-size * 1.25;
			cursor: nwse-resize;
		}
		.modal-resize-handle.se {
			bottom: -$modal-handle-size / 2;
			right: -$modal-handle-size / 2;
			width: $modal-handle-size * 1.25;
			height: $modal-handle-size * 1.25;
			cursor: nwse-resize;
		}
		.modal-resize-handle.sw {
			bottom: -$modal-handle-size / 2;
			left: -$modal-handle-size / 2;
			width: $modal-handle-size * 1.25;
			height: $modal-handle-size * 1.25;
			cursor: nesw-resize;
		}
	}
}
