@use '_variables' as *;
@use '_colors';

.control-slider-container {
	--slider-dimen: 6px;
	--slider-spacing: 8px;
	--slider-tick-length: 8px;
	--slider-tick-thickness: 2px;

	flex: 1 0 auto;
	display: flex;
	// grid: 1fr / 100px auto;
	align-items: center;
	gap: 4px;
	// min-width: 100px;

	&:has(.rc-slider-vertical) {
		flex-direction: column;
	}

	.rc-slider {
		// margin: var(--slider-spacing);
		padding: unset;
		flex: 1 0 100px;
		height: var(--slider-dimen);
		cursor: pointer;

		.rc-slider-rail,
		.rc-slider-track {
			height: var(--slider-dimen);
			border-radius: calc(var(--slider-dimen) / 2);
		}

		.rc-slider-rail {
			background: linear-gradient(180deg, #aab6cc 0%, #7f96c0 100%);
		}

		.rc-slider-track {
			background: linear-gradient(360deg, #ff5a46 0%, #ff7844 100%);
		}

		.rc-slider-handle {
			width: calc(var(--slider-spacing) + var(--slider-dimen));
			height: calc(var(--slider-spacing) + var(--slider-dimen));

			margin-top: calc(-1 * var(--slider-spacing) / 2);

			background: var(--prime);
			opacity: 1;
			border: 2px solid #ffffff;
			border-radius: 50%;
            box-shadow: 0 0 0 0 var(--prime);

            transition: box-shadow var(--default-timing) ease-in-out;

			&.rc-slider-handle-dragging {
				box-shadow: 0 0 0 3px var(--prime);
			}
		}

		.rc-slider-step {
			position: absolute;
			top: calc(var(--slider-spacing) * -1);
			bottom: calc(var(--slider-spacing) * -1);
			left: 0;
			right: 0;
			height: auto;
		}

		&.rc-horizontal {
			width: 150px;

			.rc-slider-rail,
			.rc-slider-track {
				width: 100%;
				height: var(--slider-dimen);
			}

			.rc-slider-handle {
				margin-left: 0;
			}
		}

		&.rc-slider-vertical {
			height: 150px;
			width: var(--slider-dimen);

			.rc-slider-rail,
			.rc-slider-track {
				width: var(--slider-dimen);
				height: 100%;
				left: 0;
			}

			.rc-slider-handle {
				margin-left: calc(-1 * var(--slider-spacing) / 2);
				margin-top: 0;
			}
		}
	}

	.player-slider-wrapper {
		position: relative;
		display: flex;
        flex: 1 0 auto;
		align-items: center;
		justify-content: center;

        &.is-vertical {
            padding: var(--spacing) 0;
        }

        &.is-horizontal {
            padding: 0 var(--spacing);
        }
	}

	.player-slider-ticks {
		position: absolute;
		pointer-events: none;

		.player-slider-tick {
			position: absolute;
			pointer-events: auto;
			cursor: pointer;
            padding: var(--spacing);
            border-radius: var(--spacing);

            &:after {
                content: '';
                height: 100%;
                width: 100%;
                display: block;
                position: relative;
                background: rgba($color: var(--white-rgb), $alpha: 0.5);
                border-radius: 1px;
            }

            transition: background var(--default-timing);

            &:hover {
                background: rgba(var(--white-rgb), 0.25);
                &:after {
                    background: var(--prime);
                }
            }
		}

		&.is-horizontal {
			inset: calc(100% + 2px) var(--spacing) auto var(--spacing);
			height: calc(var(--slider-tick-length) + 2 * var(--spacing));

			.player-slider-tick {
				width: calc(var(--slider-tick-thickness) + 2 * var(--spacing));
				height: 100%;
				top: 0;
				transform: translateX(-50%);
			}
		}

		&.is-vertical {
			inset: var(--spacing) auto var(--spacing) calc(100% + 2px);
			width: calc(var(--slider-tick-length) + 2 * var(--spacing));

			.player-slider-tick {
				width: 100%;
				height: calc(var(--slider-tick-thickness) + 2 * var(--spacing));
				left: 0;
				transform: translateY(50%);
			}
		}
	}

	.unit-input-container {
		flex: 0 0;

		display: flex;
		align-items: center;
		gap: 0.5ch;
		text-align: center;
		font-size: var(--font-size);
		padding: var(--spacing) 8px;

		// background: #08162f;
		box-shadow: $bevel-shadow-sink-in;
		border-radius: var(--radius);

		input {
			text-align: center;
			width: fit-content;
			min-width: 0;
			max-width: fit-content;
		}

		span {
			text-wrap: nowrap;
		}
	}

	&#zoomLevelSlider {
		--spacing: 4px;
        --bottom-position: 72px;

		position: absolute;
		min-height: 250px;
		inset: 16px 16px var(--bottom-position) auto;

		z-index: 4;
		cursor: auto;

		padding: var(--spacing);
		background-color: var(--background);
		border-radius: calc(var(--radius) + var(--spacing));

		box-shadow:
			0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
			0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;

		backdrop-filter: blur(var(--floating-tools-spacing));

        transition:
				opacity var(--default-timing) linear,
				inset var(--default-timing) ease-in-out,
				padding var(--default-timing) ease-in-out,
				var(--default-timing) ease-in-out,
				border-radius var(--default-timing) ease-in-out;

        &.floating-offset {
            --bottom-position: calc(72px + var(--floating-tools-spacing) * 6);
        }

		.player-slider-wrapper {
			flex: 1 0 auto;

			.rc-slider {
				flex-basis: auto;
				height: 100%;
			}
		}

		#mainContainer.floating-tools & {
			opacity: 0;
			background-color: rgba($color: var(--background-rgb), $alpha: 0.75);
		}

		#mainContainer.floating-tools:hover &,
		#mainContainer.floating-tools:focus-within & {
			opacity: 1;
			transition:
				opacity var(--default-timing) linear,
				inset var(--default-timing) ease-in-out,
				padding var(--default-timing) ease-in-out,
				var(--default-timing) ease-in-out,
				border-radius var(--default-timing) ease-in-out;
		}

		.unit-input-container {
			min-width: 54px;
			justify-content: flex-end;
		}
	}
}
