@use 'sass:color';
@use '_colors';
@use '_variables' as *;
@use '_mixins' as *;

#validationMessage {
	position: absolute;
	inset: 72px auto auto 50%;

	display: flex;
	flex-direction: column;
	gap: calc(4 * var(--spacing));
	padding: var(--root-padding);

	color: var(--message-color);
	font-size: 1rem;
	font-weight: 500;
	background-color: var(--background);
	border-radius: calc(var(--radius) + var(--spacing));
	transform: translateX(-50%);

	box-shadow:
		0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
		0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;

	backdrop-filter: blur(var(--controller-spacing));

	height: auto;
	max-width: calc(50% - 2rem);

	#mainContainer.floating-tools & {
        @include floating-tools-style;
	}

	#mainContainer:hover &,
	#mainContainer:focus-within & {
		opacity: 1;
		transition:
			opacity var(--default-timing) linear 0s,
			inset var(--default-timing) ease-in-out 0s,
			padding var(--default-timing) ease-in-out 0s,
			var(--default-timing) ease-in-out 0s,
			border-radius var(--default-timing) ease-in-out 0s;
	}

	.validation-warning {
		--message-color: var(--white);

		display: flex;
		gap: calc(4 * var(--spacing));
		align-items: center;

		&.error {
			--message-color: var(--prime);
		}

		&.warning {
			--message-color: var(--caution);
		}

		&.info {
			--message-color: var(--info);
		}

		svg {
			flex-shrink: 0;
		}

		span {
			flex: 1;
		}
	}
}