:root {
	--btnSize: 26px;
	--spacing: 3px;
	--font-size: 14px;
	--radius: 6px;
    --root-padding: 8px;

	--user-divider-thickness: 0.25px;
	--user-divider-color: var(--white);

    --default-timing: 0.3s;
}

$background-gradient: linear-gradient(0deg, var(--gray-blue) 0%, var(--background) 100%);
$background-dark-gradient: linear-gradient(0deg, var(--background) 0%, var(--darker-blue) 100%);
$accent-gradient: linear-gradient(0deg, var(--pale-orange) 0%, var(--accent) 100%);

// Bevel shadow effects
$bevel-shadow-sink-in:
	0 -1px 2px
		rgba(
			$color: var(--white-rgb),
			$alpha: 0.15,
		)
		inset,
	0 1px 2px
		rgba(
			$color: var(--black-rgb),
			$alpha: 0.35,
		)
		inset;

$bevel-shadow-pop-out:
	0 1px 2px
		rgba(
			$color: var(--white-rgb),
			$alpha: 0.05,
		)
		inset,
	0 -1px 2px
		rgba(
			$color: var(--black-rgb),
			$alpha: 0.25,
		)
		inset;
