@use 'sass:math';
@use 'sass:color';
@use '_reset';

@use '_variables' as *;
@use '_colors';

@use '_sliders';
@use '_mediaContainer';
@use '_controllerBar';
@use '_mediaInfoBar';

@font-face {
	font-family: 'Recursive';
	src: url(/src/assets/fonts/Recursive_VF_1.078.woff2) format('woff2');
}

button,
label,
input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	min-width: 0;
}

button {
	height: 100%;
	padding: var(--spacing);
	border-radius: var(--radius);

	font-size: var(--font-size);

	box-shadow: none;

	transition:
		background 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover {
		background: var(--pink);
		box-shadow: $bevel-shadow-pop-out;
	}

	&:active {
		background: var(--);
		box-shadow: $bevel-shadow-sink-in;
	}
}

body:has(#mainContainer.electron-mode) {
	overflow: hidden;
	border-radius: 16px;
}

#root {
	background: $dark-blue-gradient;
	padding: 36px var(--root-padding) var(--root-padding);

	font:
		400 16px 'Recursive',
		'Roboto',
		sans-serif;
	color: var(--white);

	min-width: 900px;

	user-select: none;

	&:has(#mainContainer.electron-mode) {
		overflow: hidden;
		border-radius: 16px;
	}
}

#mainContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	// gap: 8px;
	// background-color: var(--black);

	// overflow: hidden;

	--floating-tools-spacing: 0px;

	#restoreFilesPanel {
		position: absolute;
		top: 8px;
		display: flex;
		gap: 8px;
		left: 50%;
		transform: translateX(-50%);
		padding: calc(var(--spacing) * 2);
		border-radius: calc(var(--radius) * 2);
		background-color: rgba($color: var(--darker-blue-rgb), $alpha: 0.75);
		box-shadow:
			0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
			0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;
		backdrop-filter: blur(8px);
		z-index: 10;
	}

    &.floating-tools {
        --floating-tools-spacing: 16px;
    }
}
