@use 'sass:math';
@use 'sass:color';

@use '_mixins' as *;
@use '_variables' as *;
@use '_colors';

@use '_reset';
@use '_modals';
@use '_sliders';
@use '_inputs';
@use '_mediaContainer';
@use '_controllerBar';
@use '_mediaInfoBar';
@use '_validation';
@use '_keyboardShortcuts';

@font-face {
	font-family: 'Recursive';
	src: url(/src/assets/fonts/Recursive_VF_1.078.woff2) format('woff2');
}

button,
label,
input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	min-width: 0;
}

button {
	height: 100%;
	padding: var(--spacing);
	border-radius: var(--radius);

	font-size: var(--font-size);

	box-shadow: none;

	transition:
		background 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover {
		background: var(--prime);
		box-shadow: $bevel-shadow-pop-out;
	}

	&:active {
		background: var(--prime);
		box-shadow: $bevel-shadow-sink-in;
	}
}

::-webkit-scrollbar {
	width: calc(var(--root-padding) * 2);
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
	border-radius: 50px;
	border: var(--root-padding) solid transparent;
    border-left-width: 0px;
	background-color: rgba(var(--white-rgb), 0.1);
	&:hover {
		background-color: rgba(var(--white-rgb), 0.2);
	}
}

body {
	&:has(#mainContainer.electron-mode) {
		overflow: hidden;
		border-radius: 16px;
	}
}

a {
	color: var(--prime);

	&:hover {
		text-decoration: underline;
	}
}

.cet-container {
	background: var(--background-gradient-south-darker);
}

#root {
	// background: $background-dark-gradient;
	padding: 36px var(--root-padding) var(--root-padding);

	font:
		400 16px 'Recursive',
		'Roboto',
		sans-serif;
	color: var(--white);

	min-width: 900px;

	user-select: none;

	&:has(#mainContainer.electron-mode) {
		overflow: hidden;
		border-radius: 16px;
	}
}

#mainContainer {
	// display: flex;
	// flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;

	--floating-tools-spacing: 0px;

	#restoreFilesPanel {
		position: absolute;
		top: 8px;
		display: flex;
		gap: 8px;
		left: 50%;
		transform: translateX(-50%);
		padding: calc(var(--spacing) * 2);
		border-radius: calc(var(--radius) * 2);
		background-color: rgba($color: var(--background-rgb), $alpha: 0.75);
		box-shadow:
			0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
			0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;
		backdrop-filter: blur(8px);
		z-index: 10;
	}

	&.floating-tools {
		--floating-tools-spacing: 16px;
	}

	#appTooltip {
		position: absolute;
		pointer-events: none;
		background-color: rgba($color: var(--black-rgb), $alpha: 0.75);
		color: var(--white);
		padding: calc(var(--spacing) / 2) var(--spacing);
		border-radius: var(--radius);
		font-size: calc(var(--font-size) * 0.875);
		max-width: 300px;
		z-index: 99999;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity var(--default-timing) ease-in-out,
			left var(--default-timing) ease-in-out,
			bottom var(--default-timing) ease-in-out,
			visibility 0s linear var(--default-timing);
		white-space: pre-wrap;
		box-shadow:
			0 2px 4px rgba($color: var(--black-rgb), $alpha: 0.5),
			0 3px 8px rgba($color: var(--white-rgb), $alpha: 0.1) inset,
			0 -3px 8px rgba($color: var(--black-rgb), $alpha: 0.25) inset;
		backdrop-filter: blur(8px);

		&.visible {
			opacity: 1;
			visibility: visible;
			transition:
				opacity var(--default-timing) ease-in-out,
				left var(--default-timing) ease-in-out,
				bottom var(--default-timing) ease-in-out,
				visibility 0s;
		}
	}
}
